.DS_Store
*/.DS_Store
*/build/
*/.env
.env
*/node_modules
/old_contracts
/back
build
cache
*/.dag
*/dag*
*/*/.dag/*
*/*/dag/
.openzeppelin

node_modules
build/contracts
yarn-error.log
coverage
coverage.json

#Hardhat files
cache
artifacts

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Ignore solidity documentation until code has been documented
docs/solidity

# Ignore solidity files used for analysis
docs/slither

data/abi

# Ignore generated typescript definitions
typechain